*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-section{
    height: 100vh;
    width: 100vw;
    /* display: flex; */
    background-image: url(./ladaakh-img.webp);
    background-size:cover;
    background-repeat: no-repeat;
}
.head{
    height:50px;
    width: 100%;
    background-color: #bb0303;
    padding: 3px;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
    background: linear-gradient(to bottom, #201f1f, transparent);
}
.logo{
    color: white;
    background-color: transparent;
    font-size: large;
    font-weight: 800;
    /* background-color: #0fd5cb; */
    height: fit-content;
    width:fit-content;
}
.logo span{
    font-size:small;
    font-weight:300;
}
.search-bar{
    width:fit-content;
    height: fit-content;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;

}
/* for input and search icon on head */
.search-bar input{
    background-color:transparent;
    height: 5%;
    border-radius: 15px;
}
.search-bar input::placeholder{
    color: white; 
}

.end-head{
    height: fit-content;
    width: fit-content;

}
.end-head a{
    text-decoration: none;
    color: white;
    margin-left: 5px;
}
.left-icon{
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 6%;
    font-size: 1.5em;
    border: 1.5px solid white;
    padding: 5px;
    border-radius: 20%;
    
}
.right-icon{
    height: fit-content;
    width: fit-content;
    position:absolute;
    top: 50%;
    right: 6%;
    font-size: 1.5em;
    border: 1.5px solid white;
    padding: 5px;
    border-radius: 20%;
}
.right-icon a i:hover{
    background-color: #ffffff00;   
}
.left-icon:hover{
    background-color: #ffffff00;   
}
.left-icon a{
   text-decoration: none;
   color: white;
}
.right-icon a i{
   text-decoration: none;
   color: white;
}
@media (max-width: 426px) {
    .head{
        font-size: 12px;
        align-items: center;
    }
    .logo{
        font-size: 10px;
    }
    .logo span{
        font-size: 8px;
    }
    .search-bar input::placeholder{
        font-size: 10px;
    }
    .search-bar input{
        width: fit-content;
    }
}
.text-message{
    height: fit-content;
    width: fit-content;
    position: absolute;
    bottom: 17%;
    left:30%;
    color: white;
    font-weight: 900;
    font-size: 2rem;
}
.text-message1{
    height: fit-content;
    width: fit-content;
    position: absolute;
    bottom: 16.9%;
    left:30%;
    color: white;
    font-weight: 100;
    font-size: 1.4rem;
}
.line {
  position: absolute;
  bottom: 16.3%;
  left: 0;
  width: 100%;
  border: none;
  border-top: 1.5px solid white;
}
.price{
   position: absolute;
  bottom: 12.5%;
  left: 45%;
  width:fit-content;
  color: white;
  font-size: 1.3rem;
}   
#connect-expert{
    position: absolute;
    bottom: 5%;
    left: 45%;
    background-color: rgb(255, 89, 0);
    padding: 12px;
    border-radius: 25px;
    color: white;
    font-size: 1.1rem;
}